/* ----------- LOG IN ----------------- */

.form_cont{
    /* border: 2px solid var(--azul); */
    height: 93vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}
.box{
    /* border: 2px solid var(--azul); */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    /* height: 90%; */
    padding: 3vh 0px;


    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    color: azure;
}
.box h3{
    font-family: 'Oswald', sans-serif;
    font-size: 7vh;
}
.box h5{
    color: var(--gris);
    font-size: 3vh;
}
.box a{
    font-size: 3vh;
    color: var(--azul)
}
.login{
    /* border: 2px solid blueviolet; */
    width: 35vw;
    padding: 0px 3.5vw;    
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-around;
}
.login h5{
    text-align: center;
}
.login p{
    font-size: 2vh;
    /* color: var(--azul); */
    color: var(--naranja);
}
.cont_b{
    /* margin-top: 2vh; */
    text-align: center;
}
hr{
 display: none;
}


/* ----------- EDITAR PERFIL ----------------- */
.form_cont2{
    /* border: 2px solid var(--azul); */
    height: 70vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}

.form_cont2 a{
    color: var(--gris);
    font-size: 2.5vh;
}

/* ----------------------------------------------------- */
/* ---------------CSS DISPOSITIVOS MOVILES-------------- */
/* ----------------------------------------------------- */

@media (max-width: 768px) {
    .form_cont2{
        height: 80vh;
    }
    .box{
        width: 80%;
        /* height: 85%; */
    } 
    .login{
        /* border: 2px solid blueviolet; */
        width: 70vw;

    }
    .login label{

        font-size: 2.5vh;

    }

    .box h3{
        /* font-family: 'Oswald', sans-serif; */
        font-size: 5vh;
    }
    .box h5{
        /* color: var(--gris); */
        font-size: 2vh;
    }
    .box a{
        font-size: 2vh;
        /* color: var(--azul) */
    }


}

