/* ----------- LOG IN ----------------- */

.form_cont{
    /* border: 2px solid var(--azul); */
    
    /* position: absolute; */

    height: 93vh;
    /* height: auto; */
    /* padding: 5vh; */
    /* margin: auto; */
    /* padding: auto; */

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}
.box{
    /* border: 2px solid var(--azul); */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    /* height: 90%; */
    padding: 3vh 0px;


    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    color: azure;
}
.box h3{
    font-family: 'Oswald', sans-serif;
    font-size: 3rem;
}
.box h5{
    color: var(--gris);
    font-size: 1.5rem;
}
.box a{
    font-size: 1.5rem;
    color: var(--azul)
}
.login{
    /* border: 2px solid blueviolet; */
    width: 35vw;
    padding: 0px 3.5vw;    
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-around;
}
.login h5{
    text-align: center;
}
.login p{
    font-size: 0.8rem;
    /* color: var(--azul); */
    color: var(--naranja);
}
.cont_b{
    /* margin-top: 2vh; */
    text-align: center;
}
hr{
 display: none;
}


/* ----------- REGISTRO ----------------- */
