<!doctype html>
{% extends "base.html" %}

{% block content %}
<div>
  <h4>  Usuario: {{user.username or user.email }}</h4>
  <p>
    
    {{ user.first_name}} {{user.last_name}}
    
  </p>



</div>


{% if user.sesion_actual() %}

  <div>
    {% set historias=user.sesion_actual().historias %}
      
    sesión: {{historias.nombre}}
      
    Estas son las historias de la sesión actual:
      
    {% for post in historias %}
      <p> <b>{{post.titulo }}</b>, de {{post.autor}} </p>
      {% endfor %}
{% else %}
    <p> Aún no hay historias aquí...</p>	  
  </div>
{% endif %}
  

    {% if user.sesiones%}

    <h4>Sesiones</h4>

    <div class=story>

      {% for s in user.sesiones %}
      <p> <b>{{s.nombre}}  </b>({{s.fecha}})</p>
      <p>
	  {% for post in s.historias %}
	     {{post.titulo }}, de {{post.autor}};
	  {% endfor %}
      </p>
      {% endfor %}
    </div>

    <h4>Historias</h4>
    {% for post in historias %}
    <div class="story">
      <p> <b>{{ post.titulo }}</b></p>
      <p> {{post.historia}}</p>
      <p>{{ post.autor}}, {{ post.fecha}} </p>
      {% if post.AIinspiration %}
      <div class='center'>  <p>({{ post.AIinspiration }})</p> </div>
      {% endif %}
      
    </div>
    {% endfor %}
    {% if historias %}
    {% else %}
      <div> Aún no hay historias aquí...</div>
    {% endif %}


    {% endif %}


  



{% endblock %}
