<!doctype html>
{% extends "base.html" %}

{% block content %}
<div>


</div>
  <h4>Historias</h4>
    <div>
      
      {% if historias %}
      <p>
   
        {% for h in historias %}
	<a href="story/{{ h.id+23500 }}">{{h.titulo }}</a>, {{h.fecha}},
	{{h.sesion.user}}, tokens usados {{h.tokens_usados}}, prompt {{h.prompt_tokens}} <br>
	  {% if h.image_link %}
	    {{h.image_link}}
	  {% endif %}
        {% endfor %}
      </p>
      {% else %}
        <p> Aún no hay historias aquí...</p>	  
      {% endif %}
    </div>




      
    
  



{% endblock %}
