<!doctype html>
{% extends "base.html" %}

{% block content %}
<div>


</div>
  <h4>Usuarios</h4>
    <div>
      
      {% if usuarios %}
      <p>
   
        {% for user in usuarios %}
	<a href="user/{{ user.username }}">{{user.username }}</a>, id {{user.id}}
	id de sesión actual: {{user.sesion_actual_id}}
	Tokens usados: {{user.tokens_usados}}

	sesion actual: {{user.sesion_actual()}}
	<br>
        {% endfor %}
      </p>
      {% else %}
        <p> Aún no hay usuarios aquí...</p>	  
      {% endif %}
    </div>




      
    
  



{% endblock %}
