<!doctype html>
<html>
  <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <head>
      <title>Cyborg Shaman</title>
  <link
    rel="shortcut icon"
    href="{{ url_for('static', filename='cyborgshaman.jpg') }}"
  />
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
{% block heading %}{% endblock %}
  
  </head>
  <body>
     <div class="w3-container center"> 
     <a href="/index"> <img src="{{ url_for('static', filename='cyborgshaman.jpg') }}" width="150" height="150" cursor="default"   /> </a>
  <h3>Cyborg Shaman</h3>

  <div> 
    <a href="/ingresarhistoria">Ingresar historias</a>
    <a href="/leerhistorias">Leer historias</a>
    <a href="/crearhistoria">Crear historias</a>
    <br>
    <a href="/alargarhistoria">Alargar historias</a>
    <a href="/historiadepalabras">Historia de palabras</a>
    
    
      </div>
        <hr>
        {% block content %}{% endblock %}
	</div>
    </body>
</html>
