<!doctype html>
{% extends "base.html" %}

{% block content %}


{% block contentgenerar %}{% endblock %}


      
<div class="box_cont2">
  <div class="generar_opc">
              <div class="opc2">
                    <a href="/generarhistoria">Generar historia</a>
              </div>
              <div class="opc2">
                    <a href="/alargarhistoria">Alargar historia</a>
              </div>
              <div class="opc2">
                    <a href="/crearhistoria">Basado en historias</a>
              </div>
  </div>
</div>

{% endblock %}

