<!doctype html>
{% extends "base.html" %}

{% block content %}
<h3>Crear historia de palabras</h3>
<p> OpenAI creará una historia usando las palabras que ingreses.
Coloca algunas palabras inspiradoras aquí:

</p>
<form action="/crearhistoriadepalabras" method="post">
    <textarea name="story1" placeholder="." rows="10" required> </textarea>
    <input type="submit" text value="Crear historia" />
  </form>
  {% if result %}
  <div class="story1">{{ sto1 }}</div>
  <div class="palabras">{{ palabras }}</div>
  <div class="result">{{ result }}</div>
  {% endif %}
</body>
{% endblock %}
