<!doctype html>
{% extends "base.html" %}

{% block content %}

  <h4>Crear historia</h4>
  <form action="/crearhistoria" method="post">
    <div class="alignleft">
      <p>
	openAI creará una nueva historia
	{% if historias %}
          a partir de los siguientes relatos:
	{% endif %}
      </p>
      
      {% for post in historias %}
      <p>
	<input type="checkbox" id="{{post.titulo}}" name="{{post.titulo }}" value="True">
	<label for="{{post.titulo }}"> 
	<b>{{post.titulo }}</b>, de {{post.autor}}
        </label>
      </p>
      {% endfor %}


    </div>

    <input type="submit" text value="Crear historia" />
  </form>



  
    


  {% if result %}
    <div class="story">
      <p> <b>{{ result.titulo }}</b></p>
      <p> {{result.historia}}</p>
      <p>{{ result.autor}} </p>
    </div>
    {% endif %}




{% endblock %}
