<!doctype html>
{% extends "base.html" %}

{% block content %}
     <p>
       <a href="/alargarhistoria">Alargar historias</a>
       <a href="/historiadepalabras">Historia de palabras</a>
       <a href="/generarhistoria">Generar historias</a>
     </p>  




  {% if result %}
    <div class="story">
      <p> <b>{{ result.titulo }}</b></p>
      <p> {{result.historia}}</p>
      <p>{{ result.autor}} </p>
      <p>{{ result.tokens_usados}} </p>
          </div>
    {% endif %}

    {% if checked %}
    <div class='story'> (inspirada en:
      {% for story in checked %}
        {{story.titulo}};
      {% endfor %}
    )</div>
  {% endif %}

    

  <h4>Crear historia</h4>
  <form class="old" action="/crearhistoria" method="post">
    <div class="alignleft">
      <p>
	openAI creará una nueva historia
	{% if historias %}
          a partir de los siguientes relatos:
	{% endif %}
      </p>

      <p> <input type="button" class="check" value="check all" />
	 <br>
      {% for post in historias %}
      
	<input type="checkbox" id="{{post.titulo}}" name="{{post.titulo }}" value="True" checked>
	<label for="{{post.titulo }}"> 
	<b>{{post.titulo }}</b>, de {{post.autor}}
        </label> <br>
      {% endfor %}
      </p>
      

    </div>

    <input type="submit" text value="Crear historia" />
  </form>

{% endblock %}

{% block script %}

$(document).ready(function(){
    $('.check:button').toggle(function(){
        $('input:checkbox').attr('checked','checked');
        $(this).val('uncheck all');
    },function(){
        $('input:checkbox').removeAttr('checked');
        $(this).val('check all');        
    })
})

  


  {% endblock %}
