<!doctype html>
{% extends "base.html" %}

{% block content %}
<div class="cont_grande">
  <div class="sesiones_cont">
  
    <div class="cont_info_s">
      <div class="sesion_actual">
  {% if coleccion.is_public or current_user in coleccion.members %}
	<h3>{{coleccion.nombre}}
        <form action="/leerhistorias" method="post">
	  <input type="hidden" name="col_id" value="{{coleccion.id}}" />
	  <button class="btn btn-outline-custom" type="submit" >
	    Leer historias
	  </button>
	</form>
	</h3>

            
            
                
        <div class="lista_colecciones" >
          <form action="/editarcoleccion" method="post">
     	    <input type="hidden" name="action" value="retirar_historia" />
	    <input type="hidden" name="col_id" value="{{coleccion.id}}" />
	    <div class="coleccion_scroll">
	    
	      {% for hist in coleccion.historias %}
		 <input type="radio" id="hist_id" name='hist_id' value="{{hist.id }}">		 {{hist.titulo}}, by {{hist.autor}}  <br>
	
	      {% endfor %}
	    
	    {% if coleccion.historias|length==0 %}
	    Aún no hay historias aquí...
	    </div>

	    {% else%}
	    </div>
	    <button class="btn btn-outline-custom" type="submit" >
	      Retirar historia
	    </button>
	    {% endif %}
	  </form>

	</div>

	<!-- <p> -->
	<!--   <form action="/editarcoleccion" method="post"> -->
	<!--     <input type="hidden" name="action" value="publicar" /> -->
	    
	<!--   <input type="hidden" name="col_id" value="{{coleccion.id}}" /> -->
	<!--   <button class="btn btn-light" type="submit" > -->
	<!--     Publicar colección   -->
	<!--   </button> -->
	<!-- </form> -->
	<!-- </p> -->

</div>



	<div class="mis_sesiones">
	<h3>Agregar historias</h3>

	  <div class="story">
          <form action="/editarcoleccion" method="post">
     	    <input type="hidden" name="action" value="agregar_historias" />
	    <input type="hidden" name="col_id" value="{{coleccion.id}}" />


	    <div class="coleccion_scroll">
	    
          {% for his in current_user.mis_historias().historias %}

	    {% if his in coleccion.historias %}
                <!-- {{his.titulo}}  <br> -->
            {% else %}
            <input type="checkbox" id="{{his.id}}" name="{{his.id }}" value="True">
            <label for="{{his.id }}"> 
	      {{his.titulo}} <br>
		
	      {% endif %}
		    
              {% endfor %}

	      </div>
	      {% if current_user.mis_historias().historias|length==0 %}
	      No tienes historias para agregar...
	    {% else%}
	      <button class="btn btn-outline-custom red" type="submit" >
		Agregar  
	      </button>
	    {% endif %}
		
	  </form>


	  {% else %}
	  No estás autorizado para ver esta página...
	  {% endif%}
    <!-- # verbose -->

	  
	
          </div>
        </div>
                
                  <!-- <input type="text" name="cargarsesion" placeholder="Nombre de la sesión" required /> -->
                
                  <!-- <input type="submit" text value="Cargar sesión" /> -->
        

	  </div>
	
        <!-- <hr> -->
        
	        
            
            
          </div>
	  
  
      
  </div>
</div>


{% endblock %}
