<!doctype html>
{% extends "base.html" %}

{% block content %}
<div class="cont_grande">
  <div class="sesiones_cont">
  
    <p id="texto">

    </p>
    <div class="cont_info_s">
      <div class="sesion_actual">
	<h3>{{coleccion.nombre}}</h3>


            
            
            
                
        <div class="lista_colecciones">
          <form action="/editarcoleccion" method="post">
     	    <input type="hidden" name="action" value="retirar_historia" />


	    {% for his in coleccion.historias %}
            <p>
	    <input type="radio" id="his_id" name='his_id' value="{{his.id }}">
	    {{his.titulo}} 
	    {% endfor %}
	    <button class="btn btn-outline-custom" type="submit" >
	      Retirar  
	    </button>
	
	  </form>

	  </div>

	  <div class="story">
          <form action="/editarcoleccion" method="post">
     	    <input type="hidden" name="action" value="agregar_historias" />

	  
          {% for his in current_user.mis_historias().historias %}

	   {% if his in coleccion.historias %}
                
             {% else %}
               <input type="checkbox" id="{{his.id}}" name="{{his.id }}" value="True">
               <label for="{{his.id }}"> 

		 {{his.titulo}} 
		
		
		
		  <input type="hidden" name="his_id" value="{{his.id}}" />
		  <button class="btn btn-outline-custom red" type="submit" >
		    Agregar  
		  </button>
		</form>
                
		{% endif %}
	      </p>
		    
          {% endfor %}
        </div>
                
                  <!-- <input type="text" name="cargarsesion" placeholder="Nombre de la sesión" required /> -->
                
                  <!-- <input type="submit" text value="Cargar sesión" /> -->
        

	  </div>
	
        <!-- <hr> -->
        
	        
            
            
          </div>
	  
  
      
  </div>
</div>


{% endblock %}
