<!doctype html>
{% extends "base.html" %}

{% block content %}
<div>
  <p>
    Bienvenido, {{ current_user.username or current_user.email }}. Acá podrás editar tus sesiones guardadas. 
  </p>
***work in progress***

    <h4>Buscar Historia</h4>
      
         
      <p> 
	{% if historias %}

	{% for post in historias %}
          <b>{{post.titulo }}</b>, de {{post.autor}} <br>
	  {% endfor %}
  
	{% else %}
           Aun no hay historias aquí...
	{% endif %}
      </p>


</div>

    <div>      
      <form action="/mishistorias" method="post">
	<input type="hidden" name="myaction" value="buscarhistorias" />
	  <input type="text"  name="sesionname" placeholder="nombre de la sesión" required   />
	  <input type="submit"  text value="Buscar" />

      </form>
    </div>




    

 
    {% if historias%}
    <div class="leftalign">

      <form action="/mishistorias" method="post">
	<input type="hidden" name="myaction" value="nuevasesion" />
	<p>
	  <input type="submit" text value="Crear nueva sesión" />
	  
	</p>
        
      </form>
    </div>
    {% endif %}

    {% if sesiones%}
    <h4>Borrar sesión</h4>
   
    <form action="/editar_sesiones" method="post">
	<input type="hidden" name="myaction" value="borrarsesionguardada" />
	<div class=story>

	  {% for s in sesiones %}
	  <p>
	    <input type="radio" id="cargarsesion"
		   name='cargarsesion' value="{{s.id }}" >
	    
	    <b>{{s.nombre}}  </b>({{s.fecha}})</p>
	  <p>
	    {% for post in s.historias %}
	      {{post.titulo }}, de {{post.autor}};
	    {% endfor %}
	  </p>
	  {% endfor %}
	</div>

	<!-- <input type="text" name="cargarsesion" placeholder="Nombre de la sesión" required /> -->

	<input type="submit" text value="Borrar sesión" />
      
    </div>
    </form>

    <div class="center">





      
      <hr>



      <a href="{{ url_for('editar_sesiones') }}">Editar sesiones</a> <br>   
      <a href="{{ url_for('user.edit_user_profile') }}"> Editar perfil de usuario</a>    
      {% if nota %}
          <p> {{nota}}</p>
      {% endif %}
    </div>
    
    {% endif %}
      
    
  



{% endblock %}
