<!doctype html>
{% extends "basegenerar.html" %}

{% block contentgenerar %}




<div class="box_cont">
  <div class="box_user">


      {% if result %}
        <div class="historia">
              <div class="story">
                <p> <b>{{ result.titulo }}</b></p>
                <p> {{result.historia}}</p>
                <p>{{ result.autor}} </p>
                <p>{{ result.tokens_usados}} </p>
              
                {% if result.image_link %}
		  <div style="text-align: center; object-fit: contain">
		    <img style='height: 100%; width: 100%; object-fit: contain' src={{result.image_link}}>
		  </div>
                {% endif %}
	      
	      {% if result.AIinspiration %}
                    {{ result.AIinspiration }}
              {% endif %}
              </div>

        </div>
      {% endif %}


    <div class="crear_form">

      <h4>Generar historia</h4>
      <form class="old" action="/generarhistoria" method="post">

        <div class="alignleft">
          <p>
            <input type="radio" id="alargarhistoria" name='alargarhistoria' value="No alargar" checked>
            <label for="alargarhistoria">
              openAI creará una nueva historia
              <p>
          <p> usando como guía las palabras que ingreses aquí
          </p>
          <textarea name="palabrasInspiradoras" placeholder="Coloca algunas palabras inspiradoras aquí..."
            rows="3"></textarea>
        </div>
        <br>
        <button class="btn btn-outline-custom" type="submit">
          Generar historia
        </button>
    </div>
    </form>

  </div>
</div>







<!-- <div class="alignleft"> -->
<!--   <p> -->

<!-- 	{% if historias %} -->
<!--       y teniendo en cuenta los siguientes relatos: -->
<!-- 	{% endif %} -->
<!--   </p> -->

<!--   <p> -->
<!--   {% for post in historias %} -->

<!-- 	<input type="checkbox" id="{{post.id}}" name="{{post.id}}" value="True"> -->
<!-- 	<label for="{{post.id }}">  -->
<!-- 	<b>{{post.titulo }}</b>, de {{post.autor}} -->
<!--     </label> <br> -->
<!--   {% endfor %} -->
<!--   </p> -->


<!-- </div> -->





<!-- <input type="submit" text value="Crear historia" /> -->

      


{% endblock %}
