<!doctype html>
{% extends "base.html" %}

{% block content %}
  

    <h4>Historias con Inteligencia Artificial</h4>
    <div class='story'>
      <p>
	Estamos en un momento histórico en donde los computadores son capaces de contarnos historias y de entender el lenguage que normalmente utilizamos. 
	Acá podemos usar la inteligencia artificial de <a href="https://openai.com/api">openAI<a/> para generar esas historias basadas en nuestras propias historias, en algunas palabras clave, y en las grandes bases de datos generadas del contenido de internet. Cada historia es una cocreación con los algorítmos, y con las diferentes muestras de historias anteriores, que influyen en el  estilo, vocabulario y los temas de contenidos generados.
      </p>
      <p>
	Este proyecto creativo interdiciplinar fue creado con el apoyo de <a href="https://idartes.gov.co">Idartes<a/>. Visita tambien nuestras páginas <a href="https://www.tercerpisodanza.com/">Tercer Piso Danza</a> y nuestra página de <a href="https://emersonjleon.github.io/emersonjleon/cyborg.html">Tecnología e Inteligencia Artificial</a>.
      </p>
  
  

{% endblock %}
