<!doctype html>
{% extends "base.html" %}

{% block content %}

<div class="home_info">
      <div class="izq_cont">
            <img src="{{ url_for('static', filename='cyborgshaman.jpg') }}" width="100vh" height="100vh"
            cursor="default" />
            <h3>EL Cyborg Chamán</h3>
            <h4>Historias con Inteligencia Artificial</h4>
            <button type="button" class="btn btn-outline-light">Más Info</button>
      </div>
      
      <div class="der_cont">
                   <!-- <p>
                  En esta página puedes escribir y utilizar la inteligencia artificial de <a href="https://openai.com/api">openAI<a/> para generar historias. Podemos usar nuestras propias palabras como inspiración, crear historias similares a las que ya ingresamos y alargar las historias existentes para ver cómo pueden continuar.
                  </p>
                  <p>
                        Estamos en un momento histórico, donde los computadores son capaces de entender el lenguaje que normalmente utilizamos y de escribir textos interesantes en menos de un segundo.   Esta tecnología está basada en los últimos adelantos de la programación y aprendizaje de máquinas inspirada en redes neuronales y las grandes bases de datos de internet. Cada historia es una co-creación con los algoritmos, donde nuestras historias anteriores influyen en el  estilo, vocabulario y los temas de contenidos generados.
                  </p>
                  <p>
                        Este proyecto creativo interdisciplinar fue creado con el apoyo de <a href="https://idartes.gov.co" target="_blank">Idartes<a/>. Visita también nuestras páginas <a href="https://www.tercerpisodanza.com/" target="_blank">Tercer Piso Danza</a> y nuestra página de <a href="https://emersonjleon.github.io/emersonjleon/cyborg.html">Tecnología e Inteligencia Artificial</a>. Las imágenes de esta página también han sido generadas por la inteligencia artificial de <a href="https://beta.dreamstudio.ai/dream" target="_blank">Dream Studio</a>
                  </p> -->
                  <div class="botones">
                        <!-- <button type="button" class="btn btn-light btn-lg" href="/user/sign-in">Iniciar Sesión</button> -->
                        <a href="/user/sign-in" class="btn btn-light btn-lg" role="button" >Iniciar Sesión</a>

                        <br>
                        <h5>¿Aún no tienes una cuenta? <a href="/user/register"> Regístrate </a></h5>
                  </div>
      </div>
</div>



{% endblock %}
