<!doctype html>
{% extends "base.html" %}

{% block content %}

<div class="leer_cont">
  <!-- <h2>Tus historias</h2> -->

    {% for post in historias %}
    <div class="historia_cont">
      <div class="story">
        <h3> <b>{{ post.titulo }}</b></h3>
        <p> {{post.historia}}</p>
          {% if post.image_link %}
	    <div style="text-align: center;">
	      <img src={{post.image_link}}>
	    </div>	      

          {% endif %}        

          <h5>{{ post.autor}}, {{ post.fecha}} </h5>
          {% if post.AIinspiration %}
            <h5>({{ post.AIinspiration }})</h5> 
          {% endif %}        
      </div>
    </div>
    {% endfor %}


  {% if historias %}
  {% else %}
  <div> Aún no hay historias aquí...</div>
  {% endif %}
</div>


  <!--form action="/leerhistorias/" method="post">
    <p> 
    <input type="submit" text value="Leer historia" />
    </p>
  </form-->
{% endblock %}
