<!doctype html>
{% extends "base.html" %}

{% block content %}
<div class="cont_grande">
  <div class="sesiones_cont">
  
    <div class="cont_info_s">
      <div class="sesion_actual">

	<h3>{{coleccion.nombre}}
        <form action="/leerhistorias" method="post">
	  <input type="hidden" name="col_id" value="{{coleccion.id}}" />
	  <button class="btn btn-outline-custom" type="submit" >
	    Leer historias
	  </button>
	</form>
	</h3>

            
            
        <b>Administradores</b>
	
        <div class="lista_colecciones">

	  {% for admin in coleccion.admins %}
	    
	    {{admin.nombre}}  <br>
	
	  {% endfor %}

          <b>Miembros</b>
	    
          <form action="/editarcoleccion" method="post">
	    <input type="hidden" name="col_id" value="{{coleccion.id}}" />
	    {% for member in coleccion.members %}
	      {% if member not in coleccion.admins %}
                <input type="radio" id="member_id" name='member_id' value="{{member.id }}">		{{member.nombre}}  <br>
	      {% endif %}
            {% endfor %}
	    <button class="btn btn-outline-custom" type="submit" name="action" value="retirar_miembro">
	      Retirar miembro
	    </button>
	    <button class="btn btn-light" type="submit" name="action" value="agregar_admin">
	      Agregar administrador
	    </button>
	    
	  </form>

	</div>

	<p>
	<form action="/publicarcoleccion" method="post">
	  <input type="hidden" name="col_id" value="{{coleccion.id}}" />
	  <input type="hidden" name="action" value="publicar" />
	  <button class="btn btn-light" type="submit" >
	    Publicar colección  
	  </button>
	</form>
	</p>

</div>



	<div class="mis_sesiones">
	<h3>Agregar miembros</h3>

	  <div class="story">
          <form action="/editarcoleccion" method="post">
     	    <input type="hidden" name="action" value="agregar_miembros" />
	    <input type="hidden" name="col_id" value="{{coleccion.id}}" />
	  
            {% for user in users %}

	    {% if user in coleccion.members %}
               
            {% else %}
            <input type="checkbox" id="{{user.id}}" name="{{user.id }}" value="True">
            <label for="{{user.id }}"> 
	      {{user.titulo}} <br>
		
	    {% endif %}
		    
            {% endfor %}

	      
	      <button class="btn btn-outline-custom red" type="submit" >
		Agregar miembros
	      </button>
	
	  </form>
          
	
          </div>
        </div>
                
                  <!-- <input type="text" name="cargarsesion" placeholder="Nombre de la sesión" required /> -->
                
                  <!-- <input type="submit" text value="Cargar sesión" /> -->
        

	  </div>
	
        <!-- <hr> -->
        
	        
            
            
          </div>
	  
  
      
  </div>
</div>


{% endblock %}
