<!doctype html>
{% extends "base.html" %}

{% block content %}
<div>
  <p>
    Bienvenido, {{ current_user.username or current_user.email }}. Acá podrás encontrar tus historias y sesiones guardadas. 
  </p>
</div>
  <h4>Sesion actual</h4>
    <div>
      
      {% if historias %}
       {{current_user.sesion_actual().nombre}} <br>
         
       <p> 
        {% for post in historias %}
         <b>{{post.titulo }}</b>, de {{post.autor}} <br>
        {% endfor %}
      {% else %}
         Aun no hay historias aquí...	  
	{% endif %}
	</p>
    </div>

    <div>      
      <form action="/miperfil" method="post">
	<input type="hidden" name="myaction" value="guardarhistorias" />
	  <input type="submit"  text value="Guardar como" />
	  <input type="text"  name="sesionname" placeholder="nombre de la sesión" required   />
      </form>
    </div>




    

    <h4>Mis sesiones</h4>

    {% if historias%}
    <div class="leftalign">

      <form action="/miperfil" method="post">
	<input type="hidden" name="myaction" value="nuevasesion" />
	<p>
	  <input type="submit" text value="Crear nueva sesión" />
	  
	</p>
        
      </form>
    </div>
    {% endif %}

    {% if sesiones%}
    
    <form action="/miperfil" method="post">
	<input type="hidden" name="myaction" value="cargarsesion" />
	<div class=story>

	  {% for s in sesiones %}
	  <p>
	    <input type="radio" id="cargarsesion"
		   name='cargarsesion' value="{{s.id }}" >
	    
	    <b>{{s.nombre}}  </b>({{s.fecha}})</p>
	  <p>
	    {% for post in s.historias %}
	      {{post.titulo }}, de {{post.autor}};
	    {% endfor %}
	  </p>
	  {% endfor %}
	</div>

	<!-- <input type="text" name="cargarsesion" placeholder="Nombre de la sesión" required /> -->

	<input type="submit" text value="Cargar sesión" />
      
    </div>
    </form>

    <div class="center">





      
      <hr>



      <a href="editar_sesiones.html">Editar sesiones</a> <br>   
      <a href="{{ url_for('user.edit_user_profile') }}"> Editar perfil de usuario</a>    
      {% if nota %}
          <p> {{nota}}</p>
      {% endif %}
    </div>
    
    {% endif %}
      
    
  



{% endblock %}
